[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinygrad = {git = "https://github.com/tinygrad/tinygrad.git", ref = "master"}
redis = "*"

[requires]
python_version = "3.9"
